<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for collection in collections %}
    <div class="col">
        {% include 'card.html' %}
    </div>
    {% endfor %}
</div>

<nav aria-label="Post navigation">
    <ul class="pagination">
        <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a class="page-link" href="{{ prev_url }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a class="page-link" href="{{ next_url }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>