{% extends "base.html" %}

{% block content %}
<div class="card mb-4">
    <img src="https://placehold.co/600x200" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ collection.name }}</h5>
        <span class="badge bg-secondary mb-2">{{ collection.category.value }}</span>
        <p class="card-text small text-muted">Created by {{ collection.creator.username }}</p>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-2 mb-3">
            {% for item in items %}
            <div class="col">
                <div class="card h-100">
                    <img src="https://placehold.co/200x120" class="card-img-top" alt="...">
                    <div class="card-body p-2">
                        <h6 class="card-title mb-1 small">{{ item.name }}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}